*.sqlite3
secrets.json
*.pyc
results/
puzzles.csv
*.swp
*.swo
secrets.json*
static/
.ipynb_checkpoints

*.pyc
alphago/.DS_Store

alphago/temp/
alphago/.project
alphago/.pydevproject

alphago/checkpoints/
alphago/# For PyCharm users
alphago/.idea/
alphago/*.swp
alphago/puzzles.csv
alphago/results/
models/

alpha/tensorboard/

